<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mercado Liebre</title>
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
    <script src="https://kit.fontawesome.com/433c4ae66d.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="static/css/styles.css">
</head>
<body>
    <header class="main-header">
        <div class="main-header-top-bar">
            <img class="logo" src="static/images/logo-mercado-liebre.svg"/>
            <form action="GET">
                <input type="text" name="barra-busqueda" placeholder="Buscar productos y más">
                <span class="submit"><i class="fa fa-search"></i></span>
            </form>
            <h2 class="copy-header" style="font-weight: bold;">
                <i class="fas fa-hand-holding-usd"></i>
                Comprá en cuotas y sin tarjeta de crédito
            </h2>
        </div>
        
        <a href="#" class="hamburguer-button">
            <i class="fas fa-bars"></i>
        </a>
        
        <nav class="main-navbar">
            <ul class="left-navbar">
                <li><a href = "/">Ofertas</a></li>
                <li><a href = "#">Tiendas Oficiales</a></li>
                <li><a href = "#">Vender</a></li>
                <li><a href = "#">Ayuda</a></li>
            </ul>
            <ul class="right-navbar">
                <li><a href = "/register">Creá tu cuentas <span class="idcard"><i class="far fa-id-card"></i></span></a></li>
                <li><a href = "/login">Ingresá <span class="login"><i class="fas fa-sign-in-alt"></i></span></a></li>
                <li><a href = "#">Mis compras <span class="basket"><i class="fas fa-shopping-basket"></i></span></a></li>
            </ul>
        </nav>
        <section class="banner"><img src="static/images/img-home-banner.jpg" alt="Banner" style="width: 100%;"></section>
    </header>
    <main>
        <section class="ultima-visita">
            <h2 class="titular">Basado en tu última visita</h2>
            <div class="products">
                <article>
                    <img class="product-img" src="static/images/img-cafetera-moulinex.jpg" alt="Cafetera" style="width: 100%;">
                    <div class="box">
                        <div class= "envio">
                            <i class="fas fa-shipping-fast"></i>
                        </div>
                        <p class="precio">$6.770</p>
                        <p class="descuento">40% off</p>
                        <h3 class="description">Cafetera Moulinex</h3>
                    </div>
                </article>
                <article>
                    <img src="static/images/img-macbook-pro-2019.jpg" alt="MacBook" style="width: 100%;">
                    <div class="box">
                        <div class= "envio">
                            <i class="fas fa-shipping-fast"></i>
                        </div>
                        <p class="precio">$230.000</p>
                        <p class="descuento">20% off</p>
                        <h3 class="description">MacBook Pro 2019</h3>
                    </div>
                </article>
                <article>
                    <img src="static/images/img-samsung-galaxy-s10.jpg" alt="Galaxy" style="width: 100%;">
                    <div class="box">
                        <div class= "envio">
                            <i class="fas fa-shipping-fast"></i>
                        </div>
                        <p class="precio">$70.500</p>
                        <p class="descuento">10% off</p>
                        <h3 class="description">Samsung Galaxy S10</h3>
                    </div>
                </article>
                <article>
                    <img src="static/images/img-tv-samsung-smart.jpg" alt="SmartTv" style="width: 100%;">
                    <div class="box">
                        <div class= "envio">
                            <i class="fas fa-shipping-fast"></i>
                        </div>
                        <p class="precio">$23.200</p>
                        <p class="descuento">5% off</p>
                        <h3 class="description">SmartTv Samsung 43"</h3>
                    </div>
                </article>
            </div>
        </section>
        <section class="ofertas">
            <h2 class="titular">Sección de ofertas</h2>
            <div class="products">
                <article>
                    <img src="static/images/img-cafetera-moulinex.jpg" alt="Cafetera" style="width: 100%;">
                    <div class="box">
                        <div class= "envio">
                            <i class="fas fa-shipping-fast"></i>
                        </div>
                        <p class="precio">$6.770</p>
                        <p class="descuento">40% off</p>
                        <h3 class="description">Cafetera Moulinex</h3>
                    </div>
                </article>
                <article>
                    <img src="static/images/img-macbook-pro-2019.jpg" alt="MacBook" style="width: 100%;">
                    <div class="box">
                        <div class= "envio">
                            <i class="fas fa-shipping-fast"></i>
                        </div>
                        <p class="precio">$230.000</p>
                        <p class="descuento">20% off</p>
                        <h3 class="description">MacBook Pro 2019</h3>
                    </div>
                </article>
                <article>
                    <img src="static/images/img-samsung-galaxy-s10.jpg" alt="Galaxy" style="width: 100%;">
                   <div class="box">
                        <div class= "envio">
                            <i class="fas fa-shipping-fast"></i>
                        </div>
                        <p class="precio">$70.500</p>
                        <p class="descuento">10% off</p>
                        <h3 class="description">Samsung Galaxy S10</h3>
                   </div> 
                </article>
                <article>
                    <img src="static/images/img-tv-samsung-smart.jpg" alt="SmartTv" style="width: 100%;">
                    <div class="box">
                        <div class= "envio">
                            <i class="fas fa-shipping-fast"></i>
                        </div>
                        <p class="precio">$23.200</p>
                        <p class="descuento">5% off</p>
                        <h3 class="description">SmartTv Samsung 43"</h3>
                    </div>
                </article>
            </div>
        </section>
    </main>

    <!-- Formulario -->
    <form action="/crear-producto" method="POST" class="create-form">
        <div class="control-formulario">
            <label>Nombre del producto</label>
            <input type="text" name="nombre" class="control">
        </div>
        <div class="control-formulario">
            <label>Precio del producto</label>
            <input type="text" name="precio" placeholder="123.56" class="control">
        </div>
        <div class="control-formulario">
            <label>Categoría:</label>
            <select name="categoria" class="control">
                <option value="hogar">Hogar</option>
                <option value="electro">Electro</option>
                <option value="indumentaria">Indumentaria</option>
            </select>
        </div>
        <div class="control-formulario">
            <label>Ciudad:</label>
            <select name="ciudad" class="control">
                <option value="buenosAires">Buenos Aires</option>
                <option value="rosario">Rosario</option>
                <option value="mendoza">Mendoza </option>
            </select>
        </div>
        <div class="control-formulario">
            <label>Descripción:</label>
            <textarea name="descripcion" class="control" ></textarea>
        </div>
        <div class="control-formulario">
            <label>¿Está en oferta?</label>
            <input type="radio" name="enOferta">
        </div>
        <button type="reset" class="boton-formulario">Borrar</button>
        <button type="submit" class="boton-formulario">Guardar</button>
    </form>

    <!-- Producto -->

    <article class="product">
        <img src="static/images/img-samsung-galaxy-s10.jpg" alt="Galaxy" style="width: 100%;">
        <h2>Samsung Galaxy S10</h2>
    </article>

    <footer>
        <div class="footer-box">
            <div class="footer-box-1">
                <div class= "tarjeta">
                    <i class="fas fa-credit-card"></i>
                </div>
                <h4>Pagá con tarjeta o en efectivo</h4>
                <p>Con Mercado Liebre Cash, tenés cuotas sin interés con tarjeta o efectivo en puntos de pago. ¡Y siempre es seguro!</p>
            </div>
            <div class="footer-box-2">
                <div class= "regalo">
                    <i class="fas fa-gift"></i>
                </div>
                <h4>Envío gratis desde los $2.500</h4>
                <p>Solo por estar registrad@ en Mercado Liebre tenés envíos gratis en miles de productos. Es un beneficio de Mercado Puntos.</p>
            </div>
            <div class="footer-box-3">
                <div class= "seguridad">
                    <i class="fas fa-user-shield"></i>
                </div>
                <h4>Seguridad de principio a fin</h4>
                <p>¿No te gusta? ¡Devolvelo! En Mercado Liebre, no hay nada que no puedas hacer, porque estás siempre protegid@.</p>
            </div>
        </div>
        <p>Copyright © 1999-2020 MercadoLiebre S.R.L.</p>
    </footer>
</body>
</html>